@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat&family=Oswald&family=Oxygen&family=Passion+One&family=Rancho&family=Teko:wght@500&display=swap');



    .navbar-head{
        font-family: 'Mitr', sans-serif;
    
    
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to left,
             blue,
            red
            );
    -webkit-background-clip: text;
    color: transparent;
    margin: auto;
    }

    .customer li{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        margin : 5px 20px;
        cursor: pointer;
        text-decoration: none;
        }
        .search-tag{
            text-align: center;
            margin: 10px;
            display:list-item;
        }
        .search-tag input{
            margin-right: 16px;
            border: 1px solid grey;
            font-size: 17px;
            background-color: rgb(248, 236, 236);
            border-radius: 5px;
        }
        .search-tag button{
            font-size: 15px;
            border-radius: 20px;
            padding: 0 10px;
            font-family: 'Josefin Sans', sans-serif;
        }

        .petData{
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            background-color:rgb(252, 246, 246);
            padding: 20px;
        }

        
        .petData button{
            padding: 0 20px;
            background-color: rgb(113, 111, 231);
        }

      